---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="grid grid-cols-2 gap-4 md:px-20 lg:px-34 xl:px-40 px-10 h-[86vh]"
  >
    <aside class="my-10">
      <div
        class="bg-[url('../assets/Atl_image.jpg')] bg-cover bg-center h-full w-full rounded-tl-3xl rounded-br-3xl relative"
      >
        <div
          class="bg-[rgba(0,0,0,0.4)] absolute h-full w-full rounded-br-3xl rounded-tl-3xl z-10"
        >
        </div>
        <h2 class="text-4xl px-4 pt-4 font-bold text-white z-20 relative">
          THANKS <span class="text-sky-200">FOR REACHING OUT!</span>
        </h2>
        <h4 class="px-4 pt-2 font-semibold text-white z-20 relative">
          These are the many ways you can get in touch
        </h4>
        <ul class="px-4 mt-6 text-white z-20 relative">
          <li>
            <a
              class="underline hover:text-sky-200"
              target="_blank"
              href="mailto:levelhlawrence@gmail.com">My Email</a
            >
          </li>
          <li>
            <a
              class="underline hover:text-sky-200"
              target="_blank"
              href="https://www.linkedin.com/in/levelhlawrence/">My LinkedIn</a
            >
          </li>
          <li>
            <a
              class="underline hover:text-sky-200"
              target="_blank"
              href="https://github.com/levelhlawrence">My GitHub</a
            >
          </li>
        </ul>
      </div>
    </aside>
    <form
      action="https://formsubmit.co/levelhlawrence@gmail.com"
      method="POST"
      class="bg-gray-100 rounded-tl-3xl rounded-br-3xl my-10"
    >
      <h1 class="text-3xl p-4 mb-6">Contact</h1>
      <div class="flex flex-col px-4 mb-4">
        <label for="client-name">Name</label>
        <input class="rounded" name="client-name" type="text" />
      </div>
      <div class="flex flex-col px-4 mb-4">
        <label for="client-name">Email</label>
        <input class="rounded" name="client-name" type="text" />
      </div>
      <div class="flex flex-col px-4 mb-4">
        <label for="client-name">Message</label>
        <textarea name="client-name" rows="6"></textarea>
      </div>
      <button
        class="bg-black text-white ml-4 py-2 px-4 rounded hover:cursor-pointer"
        type="submit">Send</button
      >
    </form>
  </section>
</Layout>
