---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import landingImgProfile from "../assets/portfolioImg-Photoroom.png";
---

<Layout>
  <section id="home-page">
    <div class="overflow-hidden relative w-full">
      <article id="main-top" class="relative flex justify-between h-[62vh]">
        <div
          class="absolute inset-0 bg-[url('../assets/wallpaper.jpg')] bg-center opacity-20 z-0 shadow-lg shadow-inset"
          style="background-size: 16rem;"
        >
        </div>

        <aside
          id="main-content-left"
          class="md:ml-20 lg:ml-34 xl:ml-40 text-center md:relative md:w-full md:mt-32 md:text-left md:ml-10 absolute left-0 bottom-0 right-0 py-6"
        >
          <div
            class="bg-[rgba(26,31,58,0.4)] w-screen h-full blur-3xl absolute z-30 md:bg-[rgba(0,0,0,0.0)]"
          >
          </div>
          <h2
            class="text-4xl lg:text-5xl md:text-black text-white font-thin relative z-40 outline-black text-outline-black"
          >
            Hey I'm
          </h2>
          <h1
            class="text-6xl lg:text-7xl text-white md:text-black relative z-40 text-outline-black"
          >
            Level Lawrence
          </h1>
          <h3
            class="text-3xl lg:text-4xl text-gray-200 md:text-black font-bold relative z-40 text-outline-black"
          >
            Full Stack Developer
          </h3>
          <p
            class="relative z-40 text-white px-16 mt-4 md:text-black md:px-0 md:w-3/4"
          >
            I turn creative ideas into seamless code, building beautiful,
            functional solutions that make an impact. Let's create something
            extraordinary together.
          </p>
          <div class="text-white mt-8 relative z-50">
            <button class="bg-black px-2 py-2 rounded mr-4">My Work</button>
            <button class="bg-sky-600 px-6 py-2 rounded">Hire Me</button>
          </div>
        </aside>

        <aside id="main-content-right" class="relative w-full z-20">
          <div>
            <div
              id="bg-circle"
              class="bg-[rgba(240,231,232,0.8)] absolute z-[10] h-[20rem] w-[20rem] rounded-full right-60 bottom-[-6rem] blur-3xl"
            >
            </div>
            <div class="z-[40] absolute right-20 top-16 w-[32rem] lg:right-40">
              <Image
                src={landingImgProfile}
                alt="landing profile"
                format="png"
              />
            </div>
            <div
              id="table"
              class="bg-[#353465] h-60 w-[30rem] absolute top-[25rem] right-[-16rem] lg:right-[-11rem] rounded-2xl"
            >
            </div>
          </div>
        </aside>
      </article>

      <article id="main-bottom" class="h-[24vh] relative z-[80]">
        <aside class="bg-[#1A1F3A] h-[100%] border-t-4 border-[#9695A6]">
          <h4 class="text-white text-center mt-4">Skills</h4>
          <ul
            class="flex gap-4 w-full items-center justify-center mt-10 text-2xl text-[#9695A6] outline py-4"
          >
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>MongoDB</li>
            <li>ReactJS</li>
            <li>NodeJS</li>
            <li>PostgresSQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>TailwindCSS</li>
            <li>NextJS</li>
            <li>Vercel</li>
            <li>AWS</li>
          </ul>
        </aside>
      </article>
    </div>
  </section>
</Layout>
