---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-4xl">Projects</h1>
  <p>Welcome to my projects page.</p>
  <ul>
    <li>Project 1</li>
    <li>Project 2</li>
  </ul>
</Layout>
